@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-position: fixed;

  /* position: relative; */
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url("../public/assets/images/galaxy.jpg"); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Keep the background fixed during scroll */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
