.video {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Centers horizontally */
    background-color: rgba(10, 10, 10, 0.85);
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }

.video {
  margin-bottom: 20px;
}

.video-section {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
}

.chatbox {
  width: 100%;
}
