.login-container {
  color: white;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically (optional) */
  height: 100vh; /* Full viewport height (optional) */
  border: 1px solid #ccc;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.75);
  width: 100%;
}

.login-form {
  margin-bottom: 20px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.register-form {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.login-response {
  margin-top: 20px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
