/* CSS for room selection component */
.room-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #141117;

}

.room-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #3b38ff;
  height: 40vh;
  width: 50%;
  border-radius: 10%;
  background: #98ccf5;
}

.room-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.room-button:hover {
  background-color: #0056b3;
}
